* {
	font-family: 'Roboto', sans-serif;
}
/*start of navbar*/
.navbar-brand img {
	height: 1rem;
	width: auto;
	object-fit: contain;
}
/*end of navbar*/

/*start of hero image*/
#header {
	background-image: url(./../../images/hero1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;

}
/*end of hero image*/

/*start of first section*/
#first-section {
	min-height: 40vh;
}

#first-section-details h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
}

#first-section-details p {
	font-family: 'Roboto', sans-serif;	
}

#first-section-image img {
	height: 20rem;
	width: 100%;
	object-fit: contain;
}
/*end of first section*/

/*start of second section*/
#second-section {
	min-height: 50vh;
	background-image: url(./../../images/xx1_rd.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#second-section-details h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	color: white;
}

#second-section-details p {
	font-family: 'Roboto', sans-serif;
	color: white;
}

#second-section-image img {
	height: 20rem;
	width: 100%;
	object-fit: contain;
}
/*end of second section*/

/*start of third section*/
#third-section {
	min-height: 50vh;
	background-image: url(./../../images/xx1_shifter.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#third-section-details h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	color: white;
}

#third-section-details p {
	font-family: 'Roboto', sans-serif;	
	color: white;
}

#third-section-image img {
	height: 20rem;
	width: 100%;
}
/*end of third section*/

/*start of fourth-section*/

#fourth-section {
	min-height: 50vh
}

#fourth-section .card {
	border: none;
}

.card-body {
	padding: 0;
	padding-top: 1rem;
}

.card img {
	border-radius: 0;
	object-fit: cover;
	height: 20rem;
	width: auto;
}

.card-deck {
	margin-right: -30px;
	margin-left: -30px;
}

/*end of fourth-section*/

/*start of product page*/

#products {
	min-height: 100vh;

}

#products .card {
	border: none;
}

#products img {
	opacity: .7;
}

#products img:hover {
	opacity: 1;
	transition: .5s;
	transform: scale(.9);
}

/*end of product page*/

/*start of footer*/

#footer {
	background-color: #252626;
	min-height: 5rem; 
}
/*end of footer*/

/*start of product banner*/

#product-banner {
	background-image: url(./../../images/enduro1.jpg);
	min-height: 80vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*end of product banner*/

/*start of about iframe*/

#about iframe {
	width: 100%;
	min-height: 100vh;
}

#about p {
	line-height: 2;
	letter-spacing: 3px;
}

.about-img {
	height: 20rem;
	width: 100%;
	object-fit: cover;
}
/*end of about iframe*/

/*start of contact*/

/*start of hero image*/
#contact {
	background-image: url(./../../images/contact-hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}
/*end of hero image*/

/*end of contact*/

@media (max-width: 1024px) {
	/*start of header*/
	#header img {
		height: 12rem;
		width: auto;
		object-fit: contain;

	}
	/*end of header*/

	/*start of first section*/

	#first-section-image img {
		height: 12rem;
		width: 100%;
		object-fit: contain;
	}
	
	/*end of first section*/
}

@media (max-width: 991px) {
	/*start of header*/
	#header img {
		height: 12rem;
		width: auto;
		object-fit: contain;

	}
	/*end of header*/

	/*start of first section*/

	#first-section-image img {
		height: 12rem;
		width: 100%;
		object-fit: contain;
	}
	
	/*end of first section*/


}

@media (max-width: 767px) {
	/*start of header*/
	#header img {
		height: 8rem;
		width: auto;
		object-fit: contain;

	}
	/*end of header*/

	/*start of first section*/

	#first-section-image img {
		height: 20rem;
		width: 100%;
		object-fit: contain;
	}
	
	/*end of first section*/

	/*start of fourth section*/

	#fourth-section .card-deck {
		flex-direction: column;
	}
	/*end of fourth section*/
}

@media (max-width: 480px) {
	/*start of header*/
	#header img {
		height: 6.5rem;
		width: auto;
		object-fit: contain;

	}
	/*end of header*/

	/*start of first section*/

	#first-section-image img {
		height: 10rem;
		width: 100%;
		object-fit: contain;
	}
	
	/*end of first section*/

	/*start of fourth section*/
	.card-deck {
		margin: 0;
	}
	/*end of fourth section*/
}

@media (max-width: 380px) {
	/*start of header*/
	#header img {
		height: 5rem;
		width: auto;
		object-fit: contain;

	}

	/*end of header*/

	/*start of first section*/

	#first-section-image img {
		height: 10rem;
		width: 100%;
		object-fit: contain;
	}

	/*end of first section*/
}




